@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
html,
body {
  background-color: hsl(185, 75%, 39%);
  width: 100%;
  height: 100%;
  background-image: url(./images/bg-pattern-top.svg),
    url(./images/bg-pattern-bottom.svg);
  padding: 0;
  margin: 0;
  background-position: -750px -600px, 150px 350px;
  background-repeat: no-repeat;
  font-family: "Kumbh sans";
}
/* Container + Card Container*/
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .card-container {
  width: 100%;
  background-color: white;
  border-radius: 12px;
  margin: 0 24px;
  box-shadow: 0 16px 45px hsl(185, 75%, 39%);
  max-width: 320px;
}

.container .card-container .card-container-content {
  text-align: center;
  left: 0;
  right: 0;
  top: 85px;
  margin: 0 auto;
}
.container .card-container .card-container-background {
  width: 100%;
  height: 140px;
  border-radius: 12px 12px 0 0;
}
.container .card-container .user-pfp {
  border-radius: 50%;
  left: 0;
  right: 0;
  top: 300px;
  margin: 0 auto;
  position: absolute;
  border: 6px solid whitesmoke;
}
/* User Details */
.container .card-container .card-container-content .user-details {
  padding: 72px 24px 16px 24px;
}
.container .card-container .card-container-content .user-details .name {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
  color: hsl(229, 23%, 23%);
}
.container .card-container .card-container-content .user-details .age {
  font-weight: 400;
  color: hsl(227, 10%, 46%);
}
.container .card-container .card-container-content .user-details .origin {
  font-weight: 400;
  margin-bottom: 8px;
  color: hsl(227, 10%, 46%);
}

/* statistics details */
.container .card-container .card-container-content .stats {
  display: flex;
  padding: 24px 24px;
  border-top: 1px solid #ccc;
}

.container .card-container .card-container-content .stats .stat-container {
  width: 100%;
}
.container
  .card-container
  .card-container-content
  .stats
  .stat-container
  .amount {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 6px;
  color: hsl(229, 23%, 23%);
}

.container
  .card-container
  .card-container-content
  .stats
  .stat-container
  .stat {
  font-weight: 400;
  color: hsl(227, 10%, 46%);
  font-size: 12px;
  letter-spacing: 1.2px;
}
